h1 {
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(192, 192, 192);
  }
  
  li {
    float: left;
  }
   
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 18px 116px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px;
    border: 5px solid #5e5e5e;
  }
  

  body {
    background-color: rgb(192, 192, 192);
  }

  li a:hover {
    background-color: rgb(197, 197, 197);
  }

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 5px solid #5e5e5e;

  }

  .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    border: 5px solid #5e5e5e;
  }




