h1 {
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(101,100,211);
    background: linear-gradient(0deg, rgba(101,100,211,1) 0%, rgba(255,255,255,1) 100%);
  }
  
  li {
    float: left;
  }
   
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 18px 87.9px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px;
    border: 2px solid #ffffff;
  }
  
  body {
    background-color: rgb(209, 206, 255);
  }

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  li a:hover {
    color: rgb(77, 77, 77);
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 5px solid #171717;

  }

  .pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    border: 5px solid #000000;
  }



  h4{
    text-align: center;
    font-size: 25px;
    font-style: italic;
  }

  h3{
    text-align: center;
    font-size: 22px;
  }
  
  .players {
    text-align: center;
    font-size: 22px;

  }

  .legends_pics {
    border: 5px solid black;
  }







